@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');



/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif; /* Importe a fonte do Google Fonts */
    line-height: 1.6;
    position: relative;
    background-image: url('./img/fundo.png'); /* Substitua pelo caminho correto para a sua imagem */
    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.185); /* Cor do fundo com opacidade */
    z-index: -1;
    filter: blur(10px); /* Efeito de desfoque (ajuste o valor conforme necessário) */
}

.header {
    background-color: #333; /* Cor de fundo do header */
    color:  #fff; /* Cor do texto no header */
    padding: 10px 150px; /* Espaçamento interno do header */
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 70px;
    height: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007bff;
}

#sobre {
    padding: 60px;
    text-align: center;
}

#sobre h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#sobre p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}





.customcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.custom-card {
    width: 350px;
    height: auto;
    position: relative;
    transition: transform 0.5s, box-shadow 0.3s;

}

.custom-card:hover {
    transform: translateY(-10px); /* Aumente o valor para um efeito mais suave */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.custom-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
}


.custom-card:hover .custom-card-overlay {
    opacity: 1;
}

.custom-card-description {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}


.custom-card-title {
    font-family:Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight:bold;
    font-size: 21px;
}

.custom-card-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-card-button:hover {
    background-color: #0056b3;
}

.section-title {
    font-size: 24px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin-bottom: 10px; 
    text-align: center; 
    background-color: #333;
    line-height: 1.6;
}




.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.chale {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    transition: transform 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.chale:hover {
    transform: scale(1.05);
}
.chale img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
}
.chale-details {
    flex: 1;
}
.chale h2 {
    font-size: 24px;
    margin: 0;
}
.chale p {
    font-size: 16px;
    margin: 5px 0;
}
.reserve-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.reserve-button:hover {
    background-color: #007bff;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}


footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


footer a:hover {
    text-decoration: underline;
    color: #0056b3;
}


.rounded-iframe {
    width: 450px;
    height: 450px;
    border-radius: 50%; 
    overflow: hidden;
}